body,html{
  width:100%;
  height:100%;
  font-family: 'Open Sans', sans-serif; /* 'Raleway'; */
}

/* ================== */
/*    NAVIBAR SECTION */
/* ================== */

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 2px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* Chang the font size of the navigation bar*/
.navbar .navbar-nav li a {
	font-size: 14px;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #3498DB !important;
}

/* ================== */
/*   about SECTION    */
/* ================== */

#about {
      background-color: #2d2d30;
      color: #ffffff;
	  opacity: 0.8;
	  margin-top: 50px;
	  padding-bottom: 50px;
 	  /* background: url(../images/banner.jpg) no-repeat center top; */
/* 	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover; */
}

#about img{
  max-width: 100%;
  height: auto;
}

#about div.container h3{
	text-align: left;
	padding-left: 50px;
}

#about img.img-circle{
	float: center;
}

ul.address {
	padding-top: 5px;
	padding-left: 10px;
}

ul.address li {
    display: block;
}

ul.address li ul.address-text li {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin-top: 1em;
	font-weight: 400;
}

ul.address-text li:nth-child(2){
	padding-left: 20px;
}

ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}

ul.address li ul.address-text li a:link{
        color: #FFF;
}

ul.address li ul.address-text li a:hover{
        color: #3498DB;
}

.list-social-icons a {
  color: #495057; }



/* ================== */
/* Education SECTION  */
/* ================== */

#education {
  padding-top: 80px;
  background-color: #2d2d30;
  color: #fff;
  font-family: "Times New Roman";
  font-weight: bold;
  height: auto;
  opacity: 0.8;
}

#education div.col-md-8 h3{
	color: #FF8000 /* #9B9B8C */
}

#education div.col-md-4 h3{
	text-align: right;
}

/* ================== */
/*   PROJECT SECTION  */
/* ================== */
#projects{
  background-color: #ddd;
  padding: 35px 0;
}
.box{
  background-color: white;
}
.box img{
  max-width: 100%;
  height: auto;
}
.box p{
  padding: 15px;
}
footer{
  padding-top: 5px;
  text-align: center;
  background-color: #2f2f2f;
}

footer p {
	color: #fff;
	font-size: 15px
}